# ===== TELEGRAM =====
TG_BOT_TOKEN=123456789:YOUR_BOT_TOKEN
ADMIN_CHAT_ID=-1001234567890

# ===== VK =====
VK_BOT_TOKEN=vk1.your_token

# ===== LOGGING =====
LOGGING_LEVEL=INFO
EVENT_LEVEL=WARNING

# ===== DATE & TIME =====
# Если 1 сентября является числителем — 1.
# Если знаменателем — 0.
NUMERATOR=1
TIMEZONE=Europe/Moscow
# Cron задача обновления расписания колледжа
COLLEGE_CRON="0 */3 * * *"

# ===== UNIVERSITY =====
GROUPS='[
    "ИТСб-251",
    "РСК-251",
    "ИБТС-251"
]'
TEACHERS='[
    "Иванов И.И.",
    "Петров П.П."
]'
ROOMS='[
    "2-01К",
    "3-15К"
]'
# Сотрудники кафедры, являющиеся студентами
STUDENTS='{
    "Иванов И.И.": "РСК-241"
}'
# Преподаватели с ошибкой ФИО в расписании
ALIASES='{
    "Серёженко И.Д.": "Сереженко И.Д."
}'

# ===== COLLEGE =====
# ID, с которого начинается нумерация занятий колледжа.
# Должен быть больше максимального ID занятий университета.
COLLEGE_ID_CONST=1000
# URL до сервера бота расписания для сбора внутреннего id преподавателей
APP_URL=https://app.volsu.ru/api/schedule/lesson
# URL до сервера API расписания для формирования расписания
API_URL=https://volsu.example/api/{type}/bot
COLLEGE_TEACHERS='[
    "Иванов И.И."
]'
COLLEGE_GROUPS='[
    "ИССк"
]'
